@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
    
}

.Nav-link ul {
     display: flex;
     font: 1em sans-serif;
      justify-self: center;
      gap: 30px;
      padding: 20px;
      
    }
      a {
         color: whitesmoke;
         text-decoration: none;
          cursor: pointer;
          }

       a:hover {
         color:rgb(217, 253, 10);
         }
      
.Home{
      display: flex;
      height: 100vh;
          flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-family: sans-serif;
      color: rgb(217, 253, 10);
            }
    
         .Home h2{
             font-family: "Anton", sans-serif;
             font-weight: 2000;
             font-size: 100px;
             font-style: normal;
             }
         .icon {
             display: flex;
              flex-direction: row;   
              font-size: 50px;
              gap: 8px;
             }

.About {
      height: 400px;
       padding: 30px;
       position: relative;
   border-radius: 5px;
   background-color: rgb(217, 253, 10);
   font: 20px sans-serif;
      margin: 30px;  
         margin-top: -100px;
         letter-spacing: 1px;
   word-spacing: 5px;
   
     }
       .About h2 {
         font-family:  "Anton",'sans-serif';
         font-weight: 1000;
         font-size: 40px;
         justify-self: center;
         
         }

         
         .About button {
            background-color: black;
            color: rgb(217, 253, 10);
            outline: none;
            font: 1em sans-serif;
            width: 100px;
            height: 50px;
            border: none;
            margin-left: 80%;
             }


          .About img {
            height: 260px;
            width: 190px;
            position: absolute;
           
          }

.Recent-project {
  color: white;
  background-color: rgb(1, 1, 14);
  padding: 50px 30px;
  margin: 30px;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
    align-items: center;
   }

.Recent-project h2 {
 font-family:  "Anton",'sans-serif';
         font-weight: 800;
         font-size: 40px;
        
}

.Projects{
color: white;
display:flex;
flex-direction: flex 1;
overflow: hidden;
padding: 30px;
font-family: sans-serif;
font-size: 16px;
gap: 40px;
}

.Projects h4{
  font-size: 25px;
  letter-spacing: 1px;
}

.Projects h5{
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(217, 253, 10);
}
.Projects .Project-P {
  background-color: rgb(1, 1, 14);
  border-radius: 5px;
  padding: 10px;
}

.Projects .Project-W{
  background-color: rgb(1, 1, 14);
  padding: 10px;
  border-radius: 5px;
}

.Projects .Project-C{
  background-color: rgb(1, 1, 14);
  border-radius: 5px;
  padding: 10px;
}

.Projects img {
  height: 200px;
  
  width: 100%;
  border-radius: 5px;
}

.Projects ion-icon {
  font-size: 30px;
}

.Contact{
         display: flex;
         flex-direction: flex 1;
            background-color:rgb(217, 253, 10);
            border-radius: 5px;
            height: 500px;
            padding: 30px;
            font-family: sans-serif;
            justify-content: space-between;
            font-size: 15px;
            margin: 30px;
             }

         .Contact .text h2{
             font-size: 60px;
             font-weight: 800;
             font-family: "Anton", sans-seriff;
              }
 
input {
         outline: none;
         background-color: white;
          border: none;
         border-radius: 3px;
         padding: 10px;
         height: 50px;
         width: 500px;
          }

         .text-input{
             display: flex;
             flex-direction: column;
              gap: 10px;
             }

         .text-input .message input{
             height: 200px;
              border-radius: 3px;
                }

button{
     width: 100%;
      border-radius: 3px;
      padding: 15px;
      background-color: black;
     font-size: 15px;
       color: rgb(217, 253, 10);
      border: none;
      }

.footer {
    display: flex;
      flex-direction: column;
         align-items: center;
         font-family: sans-serif;
         background-color:  rgb(1, 1, 14);
         border-radius: 5px;
         margin: 30px;
      padding: 10px;
      color: white;
     }
      .footer p{
         color: white;
         font-size: 17px;
         }

        .footer h2{
         color: white;
         font-size: 40px;
         }
        .footer .ft-icon {
             color: greenyellow;
              font-size: 40px;
              gap: 8px;
             }


/*phones*/

@media (min-width:200px) {

}

/*mini-tabs*/

@media (min-width:600px) {}

/*Tablet*/
@media (min-width:1020px){

}

/*Destops*/
@media (min-width:1400px) {
  
}
